.form {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  & button {
    margin-left: 5px;

    &:hover,
    &:focus {
      color: rgb(110, 43, 216);
      border-color: rgb(110, 43, 216);
    }
  }
}


